.tourist-wrapper {
  padding: 80px;
  /* background: rgb(255, 255, 255); */
  background: linear-gradient(145deg, white, white, #9599e8);
}
.touriest-sub-wrapper {
  /* height: 78vh; */

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.1px);
  border: 1px solid rgba(111, 0, 0, 0.3);
}

.readyto-takeWrapper {
  /* padding: 33px; */
  border-radius: 22px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  background-image: url("/images/header/header-v2.jpg");
  /* background-color: #edede4; */
  /* background: radial-gradient(
    circle,
    rgba(187, 181, 247, 1) 0%,
    rgba(207, 243, 242, 1) 31%,
    rgba(240, 240, 216, 1) 100%
  ); */

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.readyto-takeSubWrapperOne {
  display: flex;
  flex-direction: column;
  padding: 33px 33px 0;
}

.readyto-takeSubWrapperOne-para {
  padding: 20px 0;
  font-family: Poppins;
  font-weight: 500;
  font-size: 28px;
}

.trip-wrapper {
  display: flex;
  gap: 75px;
  padding: 10px 0 15px 0;
}

.trip-subWrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}
.trip-subWrapper-para {
  color: grey;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}

.trip-subWrapper-para.active {
  border-bottom: 3px solid #9879e8;
  color: #9879e8;
}
.trip-subWrapper-para:hover {
  border-bottom: 3px solid #9879e8;
  color: #9879e8;
  cursor: pointer;
}

.trip-subWrapper div {
  width: 20px;
  height: 20px;
}

.readyto-takeSubWrapperTwo {
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;

  background: #d9d9d96b;
  padding-top: 18px;
  gap: 45px;
  padding: 33px;
  /* border: 0px solid rgba(111, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.citywrapper-timewrapper-mainwrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.citywrapper-mainwrapper {
  display: flex;
  /* width: 45%; */
  gap: 35px;
}

.citywrapper {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: max-content;
  padding: 8px;
}

.citywrapper-pararone {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
}
.city-subwrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 90px 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 0px solid rgba(111, 0, 0, 0.3);
  background: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.city-subwrapper div {
  width: 20px;
  height: 20px;
}

.city-subwrapper p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
}
.timewrapper-mainwrapper {
  display: flex;
  gap: 30px;
}

.timewrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.timewrapper-para {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
}

.time-subwrapper {
  display: flex;
  gap: 10px;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: #f9f9f9;
  border: 0px solid rgba(111, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  cursor: pointer;
}

.time-subwrapper-para {
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
}

.serchBtn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 8px;
  margin-bottom: 3px;
  align-self: end;
  height: max-content;
  border-radius: 10px;
  border: 0px solid rgba(111, 0, 0, 0.3);
  background: #9879e8;
  color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.serchBtn-wrapper div {
  width: 30px;
  height: 30px;
}

/* best-flight-wrapper start */
.best-flight-wrapper {
  width: 100%;
  padding: 33px;
  display: flex;
  gap: 40px;
  /* flex-direction: column; */
}

.best-flight-leftwrapper {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
  flex: 4;
}

.best-flight-leftwrapper-para {
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  /* margin-bottom: 15px; */
}

.flight-details-wrapper {
  display: flex;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  /* gap: 10px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

.flight-details-wrapper-blockone {
  width: 150px;
  height: 85px;
}

.flight-details-wrapper-blockone img {
  border-radius: 8px;
  /* width: 150px; */
  height: 85px;
}

.flight-details-wrapper-blocktwo {
  display: flex;
  /* flex-direction: column; */
  gap: 13px;
  flex: 2;
  padding-right: 30px;

  /* width: 100%; */
}

.blocktwo-main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-right: 10px;
  flex: 5;
}

.blocktwo-wrapperone {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
}

.blocktwo-wrapperone p:nth-child(1) {
  font-family: Poppins;
  font-weight: 700;
  font-size: 15px;
  color: black;
}

.blocktwo-wrapperone p:nth-child(2) {
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  color: grey;
}

.blocktwo-wrapper-two {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.blocktwo-subwrapper-blockone {
  display: flex;
  justify-content: space-between;
}

.blocktwo-subwrapper-blockone span {
  font-family: Poppins;
  font-weight: 700;
  font-size: 12px;
  color: black;
}

.blocktwo-subwrapper-blockone-arrowmain-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 100%;
  margin: 0 8px;
}

.arrowline {
  flex: 1;
  height: 1px;
  /* background: grey; */
  width: 100%;
  border-top: 2px dotted;
}

.blocktwo-subwrapper-blockone-imgwrapper {
  width: 15px;
  height: 15px;
  transform: rotate(90deg);
}
.blocktwo-subwrapper-blocktwo {
  display: flex;
  justify-content: space-between;
}

.blocktwo-subwrapper-blocktwo span:nth-child(1),
.blocktwo-subwrapper-blocktwo span:nth-child(3) {
  text-align: center;
  border-radius: 10px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 10px;
  background-color: black;
  color: white;
  padding: 0 10px;
}

.blocktwo-subwrapper-blocktwo span:nth-child(2) {
  border-radius: 10px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 10px;
  color: grey;
}

.flight-details-wrapper-blockthree {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  /* box-shadow: -5px 0 3px -5px rgba(0, 0, 0, 0.5); */
  border-left: 1px dashed #bbbbbb;
}

.blockthree-subwrapperone {
  display: flex;
  gap: 55px;
}

.blockthree-subwrapperone span {
  font-family: Poppins;
  font-weight: 700;
  font-size: 15px;
  color: black;
}

.blockthree-subwrapperone-amtwrapper {
  display: flex;
  gap: 10px;
}

.blockthree-subwrapperone-amtwrapper div {
  width: 20px;
  height: 20px;
  border: 1px solid #bbb5f7;
  padding: 2px;
  border-radius: 4px;
}

.blockthree-subwrappertwo {
  padding: 10px;
  color: white;
  background: #9879e8;
  text-align: center;
  border-radius: 10px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
}

/* best-flight-rightwrapper */

.best-flight-rightwrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.best-flight-rightwrapper-para-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  /* flex: 2; */
}

.best-flight-rightwrapper-paraone {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
}
.best-flight-rightwrapper-paratwo {
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  color: #9879e8;
}

.rightwrapper-fliterdata {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
  border-bottom: 1px solid #bbbbbbe3;
}

.rightwrapper-fliterdata-mainwrapper {
  background: #ffffffde;
  border-radius: 10px;
}

.rightwrapper-fliterdata-blockone {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}
.rightwrapper-fliterdata-blockone select {
  border: none;
  background: transparent;
  color: #9879e8;
}

.rightwrapper-fliterdata-blockone p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rightwrapper-fliterdata-blocktwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fliterdata-blocktwo-blockone {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* .fliterdata-blocktwo-blockone input {
  accent-color: #9599e8;
  width: 18px;
  height: 18px;
  border-radius: 5px;
} */

.fliterdata-blocktwo-blockone p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
}

.fliterdata-blocktwo-blocktwo p {
  color: grey;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
}

/* common */

.borderbottom {
  border-bottom: none;
}

/* mobile view start */

@media only screen and (max-width: 768px) {
  .tourist-wrapper {
    padding: 20px;
  }

  .touriest-sub-wrapper {
    padding: 20px;
    flex-direction: column;
  }

  .readyto-takeWrapper {
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .readyto-takeSubWrapperOne {
    padding: 20px;
  }

  .readyto-takeSubWrapperOne-para {
    font-size: 22px;
  }

  .trip-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
  }

  .trip-subWrapper-para {
    font-size: 16px;
  }

  .trip-subWrapper {
    gap: 8px;
  }

  .readyto-takeSubWrapperTwo {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .citywrapper{
    padding: 0;
  }

  .citywrapper-timewrapper-mainwrapper {
    flex-direction: column;
  }

  .citywrapper-mainwrapper {
    flex-direction: column;
    gap: 20px;
  }

  .citywrapper-pararone {
    font-size: 12px;
  }

  .city-subwrapper {
    padding: 8px;
  }

  .timewrapper-mainwrapper {
    flex-direction: column;
    gap: 20px;
  }

  .timewrapper {
    align-items: flex-start;
  }

  .timewrapper-para {
    font-size: 12px;
  }

  .time-subwrapper {
    padding: 8px;
    gap: 8px;
  }

  .serchBtn-wrapper {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
  }

  .serchBtn-wrapper div {
    width: 40px;
    height: 40px;
  }

  /* best-flight-wrapper */
  .best-flight-wrapper {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .best-flight-leftwrapper {
    width: 100%;
  }

  .best-flight-leftwrapper-para {
    font-size: 20px;
  }

  .flight-details-wrapper {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .flight-details-wrapper-blockone {
    width: 100%;
    height: auto;
  }

  .flight-details-wrapper-blocktwo {
    flex-direction: column;
    gap: 15px;
    padding-right: 0;
  }

  .blocktwo-main-wrapper {
    gap: 15px;
  }

  .blocktwo-wrapperone {
    flex-direction: column;
    gap: 10px;
  }

  .blocktwo-subwrapper-blockone {
    flex-direction: column;
  }

  .blocktwo-subwrapper-blocktwo {
    flex-direction: column;
    gap: 10px;
  }

  .flight-details-wrapper-blockthree {
    padding-left: 0;
    gap: 20px;
    border-left: none;
  }

  .blockthree-subwrapperone {
    flex-direction: column;
    gap: 20px;
  }

  .best-flight-rightwrapper {
    gap: 20px;
  }

  .rightwrapper-fliterdata {
    padding: 20px;
    gap: 20px;
  }

  .rightwrapper-fliterdata-blockone {
    gap: 50px;
  }

  .rightwrapper-fliterdata-blockone select {
    font-size: 14px;
  }

  .fliterdata-blocktwo-blockone p,
  .fliterdata-blocktwo-blocktwo p {
    font-size: 12px;
  }
}

/* slider css */

.noUi-horizontal {
  height: 7px;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: none !important;
  left: 14px;
  top: 6px;
  color: #9879e8;
}

.noUi-horizontal .noUi-handle {
  border-radius: 50%;
  width: 15px;
  height: 13px;
  right: -12px;
  top: -4px;
}

.noUi-connect {
  background: #9879e8;
}
