.tourist-wrapper {
  padding: 80px;
  /* background: rgb(255, 255, 255); */
  background: linear-gradient(145deg, white, white, #9599e8);
}
.touriest-sub-wrapper {
  height: 78vh;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.1px);
  border: 1px solid rgba(111, 0, 0, 0.3);
}

.readyto-takeWrapper {
  padding: 33px;
  border-radius: 22px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  /* background-image: url("./images/header/unnamed.png"); */
  background-color: #edede4;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.readyto-takeSubWrapperOne {
  display: flex;
  flex-direction: column;
}

.readyto-takeSubWrapperOne-para {
  padding: 20px 0;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}

.trip-wrapper {
  display: flex;
  gap: 75px;
  padding: 10px 0 15px 0;
}

.trip-subWrapper-para {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}
.trip-subWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #9879e8;
}

.trip-subWrapper div {
  width: 20px;
  height: 20px;
}

.readyto-takeSubWrapperTwo {
  display: flex;
  justify-content: space-between;
  /* background: lightgray; */
  padding-top: 18px;
  border-radius: 8px;
  gap: 65px;
  border: 0px solid rgba(111, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.citywrapper-timewrapper-mainwrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* gap: 30px; */
}

.citywrapper-mainwrapper {
  display: flex;
  /* width: 45%; */
  gap: 65px;
}

.citywrapper {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: max-content;
  /* padding: 10px; */
  border-radius: 10px;
}

.citywrapper-pararone {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
}
.city-subwrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 90px 10px 10px;
}
.city-subwrapper div {
  width: 20px;
  height: 20px;
}
.timewrapper-mainwrapper {
  display: flex;
  gap: 80px;
  /* width: 65%; */
  justify-content: space-evenly;
}

.timewrapper {
  display: flex;
  flex-direction: column;
  
}

.timewrapper p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
}

.time-subwrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
